<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto Mono"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link rel="stylesheet" type="text/css" href="../../public/question.css" />
    <script src="../../src/question.js"></script>
    <title>Disagreements</title>
  </head>
  <body onload="formatChat()">
    <div id="answer-modal">
      <h1>The answer is: A (and partially C)</h1>
      <p>
        An important thing to remember is that we are a team and we must present
        a united front to our users. It is okay to disagree with the way a
        fellow moderator handled a situation - disagreements are inevitable
        sometimes. However, you want to handle the situation privately and with
        both tact and grace, and you never want to approach another moderator in
        an aggressive manner.
      </p>
      <p>
        Sending the moderator a message expressing your concern and asking for
        their thoughts behind the decision is an excellent approach and can
        allow you to see things from another perspective. However, if you and
        the other moderator are unable to come to an agreement, you can always
        reach out to a third moderator (such as Bjorno) to help mediate the
        situation.
      </p>
      <p>
        Expressing your concerns in the private moderator chat <em>can</em> be a
        viable option - however, if this is the route you choose to take it is
        important to present your thoughts as a desire to learn, rather than an
        accusation of malice or incompetence.
      </p>
      <p>
        Our top priority is to create an open and welcoming environment for all
        of our users, and that includes our fellow moderators. And
        <em>NEVER</em> disagree with a moderator in public. Again, we want to
        present a unified front toward our users.
      </p>
      <button type="submit" onclick="hideAnswer()">Close</button>
    </div>
    <div id="content">
      <h1>Disagreeing with a Moderator</h1>
      <p>
        One of your fellow moderators has suspended a user for profanity. The
        message in question was not directed at another user, and the profanity
        was relatively mild. You disagree with the moderator's decision to
        suspend the user.
      </p>
      <p>How should you approach this?</p>
      <p class="answer" id="a" onclick="highlight('a')">
        A: Send the moderator a private message explaining your perspective and
        thoughts.
      </p>
      <p class="answer" id="b" onclick="highlight('b')">
        B: Send the moderator a private message chastising them for the
        decision.
      </p>
      <p class="answer" id="c" onclick="highlight('c')">
        C: Express your concern in the moderator chat channel.
      </p>
      <p class="answer" id="d" onclick="highlight('d')">
        D: Express your concern in the suspended user's chat channel.
      </p>
      <button onclick="showAnswer()">Check your answer!</button>
    </div>
    <hr />
    <div id="footer">
      <p>
        <a href="../../index.html">Back to Home</a> |
        <a href="./mistakes.html">Next Challenge</a>
      </p>
    </div>
  </body>
</html>
