body {
  margin: 0;
  background-color: #0a0a23;
  color: #ffffff;
}

h1 {
  font-family: "Roboto Mono";
}

p,
summary {
  font-family: "Lato";
  font-size: 18px;
}

a {
  font-family: "Lato";
  font-size: 18px;
  color: #ffffff;
}

#content {
  width: 90vw;
  max-width: 1000px;
  margin: auto;
  text-align: justify;
}
